*{
    margin: 0;
    padding: 0;
    font-family: "Genaral Sans";
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    background-color: black;
}
#hero{
    width: 100%;
    height: 100vh;
    background-color: black;
    color:white;
    position: relative;
}
#nav a{
    color: aliceblue;
    text-decoration: none;
    font-size: 39px;
}
#nav{
    width: 100%;
    padding: 20px 40px;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content:space-between;

}
#heading h1{
    font-size: 9vw;
    font-weight: 900;
    font-family: "Genaral Sans Regular";
    line-height: 1;
    opacity: .5;
}
#heading{
margin-top: 90px;
margin-left: 60px;
}
#heading #secondh1{
margin-left: 200px;
}
.blocktext h3{
    text-align: right;
}
.blocktext{
    width: fit-content;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#chotiheadings{
    margin-top: 100px;
 padding-right: 40px;
 display: flex;
 flex-direction: column;
 align-items: end;

}
#chotiheadings h4{
    text-align: right;
    margin-top: 10px;
    font-size: 20px;
    
    
}
#herofooter{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 5%;
    width: 100%;
    padding: 0 2vw;
}
#herofooter a{
    color: aliceblue;
    text-decoration: none;

}
#herofooter .circle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #888;
    align-items: center;
    display: flex;
    justify-content: center;
}
#herofooter #iconset{
    display: flex;
    gap: 5px;
}
#second{
    width: 100%;
    height: 100vh;
    background-color: black;
    padding-top: 90px;
    padding-right: 10vw;
    color: white;

}
.elem{
    width: 100%;
    display: flex;
    border-top: 1px solid #888;
    padding: 3.5vw 3vw;
    align-items: center;
    justify-content: space-between;
    padding-right: 0;
    position: relative;
}
.elem h1{
    font-size: 7vw;
    opacity: .7;
}
.elemlast{
    border-bottom: 1px solid #888;
}
.elem img{
     position: absolute; 
    z-index: 999;
    height: 100%;
    opacity: 0;
    /* display: none; */

}
#about{
    width: 100%;
    background-color: black;
    padding: 10vw 10vw;
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding-left: 20vw;

}
#about img{
    width: 300px;
    border-radius: 50%;

}
#textabout{
    width: 80%;
    
}
#textabout h4{
    opacity: .8;
    margin-bottom: 10px;
    font-size: 40px;
    text-decoration: underline;

}
#textabout p{
    line-height: 1.4;
    margin-bottom: 30px;
    font-size: 16px;
}
#textabout a{
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}
#subscribe{
    color: white;
    padding: 20px 30px;
    background-color: black;
    padding-bottom: 10vw;
}
#subscribe h5{
    opacity: .6;

}
#subscribe h3{
    font-size: 14px;
    margin-top: 10px;

}
#footerleft{
display:flex;

}
#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 50px;
    background-color: black;
    color: white;
}
#footer a{
    color: white;
    font-weight: 500;
    font-size: 18px;
    text-decoration: none;

}
#footerright{
    display: flex;
    gap: 30px;
}
#minicircle{
    width: 15px;
    height: 15px;
    position: absolute;
    background-color: white;
    border-radius: 50%;
    z-index: 99999;
    transition: all cubic-bezier(0.19,1,0.22,1)1s;
}
.bounding{
    width: fit-content;
    
    overflow: hidden;

}
.bounding boundingelem{
    transform: translateY(100%);
}


